
* {
  margin: 0;
  box-sizing: border-box;
}
.container-fluid{
  width: 100vw;
}
#shef{
  margin-top: 1em;
}
.contacts-r{
  background-color: #f1dabf;
}
.main-shef{
  background-color: #f1dabf;
  padding-top: 2em;
}
#coloriukas{
  background-color: #f1dabf;
}
  body {
    margin: 0;
    /*padding-bottom: 200px;*/
    font-family: 'Roboto', sans-serif;
    background-color: #f1dabf;
  }
  
  iframe {
    max-width: 100%;
  }
  
  p {
    font-weight: 400;
  }
  
  h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 35px;
  }


/* Ingos pridėtas kodas pradzia */
.threebut {
  background: #362417;
  color: white;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-transform: uppercase;
  transition: all 0.3s;
  text-decoration: none;
  display: inline-block;
}

/* Ingos pridėtas kodas pabaiga */

/*romann*/
.interjer{
  display: flex;
  flex-wrap: wrap;
  background: #f1dabf;
  width: 100vw;
}
/*meniu pradzia*/
nav{
  display: flex;
  height: 10vh;
  width: 100vw;
  background: #362417;
  /* position: fixed; */
  z-index: 1;
}
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
nav ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: 2em;
  width: 20%;
  height: 2em;
  border: 1px solid black;
  border-radius: 5px;
  background: #92817a;

}
nav ul li a{
  height: 2em;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
nav ul li a:hover{
  background: #f1dabf;
  box-shadow: 0 0 2em #f1dabf;
  color: #04030f;
}
@media only screen and (min-width: 800px) {
  nav ul li {
    width: 100%;
    margin-top: 1.5%;}
}
@media only screen and (max-width: 800px) {
  nav ul li {
    width: 100%;}
}
@media only screen and (max-width: 480px) {
  nav {
    height: 30vh;
    z-index: 1;
  }
  .pic-ctn{
    margin: 0;
  }
  .pic-ctn > img {
    margin-top: 1.5em;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  /*nav ul li {*/
  /*  width: 100%;*/
  /*  margin-top: 3%;*/

  /*}*/
}
/*meniu pabaiga*/
/*slide*/
  .pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
    margin: 10vh 0;
  }
  .pic-ctn > img {
    position: absolute;
    top: 30%;
    height: 80%;
    width: 50%;
    right: 30%;
    opacity: 0;
    animation: display 10s infinite;
  }
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }
  /*animacija*/
@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-100px);
    opacity: 0;
  }
}
/*animacija pabaiga*/
@media only screen and (max-width: 440px) {
  .pic-ctn > img {
    height: 80%;
    width: 80%;
    left:8%;
  }
}
/*interjero pabaiga*/
/*roman pabaiga*/
.container-r h3{
  height: 2em;
  padding-top: 1em;
  margin-bottom: 1em;
}
.container-r{
  background: #f1dabf;
  padding: 0 1%;
}
.wrapperis{
  background: #f1dabf;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wrapperis h3{
  height: 2em;
  width: 100%;
  text-align: center;
  padding-top: 1em;

}
.wrapperis p{
  width: 100%;
  padding-top: 1em;
  align-items: center;
  padding-left: 1em;
}
.wrapperis div{
  display: block;
}



#cover {
  height: 25vh;
  background-image: url(./images/cover-img.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  color: #f1dabf;
  position: relative;
}

#cover::before {
  content: '';
  background: linear-gradient(to right, #362417, #362417, transparent) ;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .9;
  top: 0;
  left: 0;
  z-index: 1;
}

#cover-title {
  max-width: 100%;
  font-size: 1.5rem;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  letter-spacing: .2rem;
  text-shadow: 
      4px 4px 0px #92817a, 
      7px 7px 0px #362417;
  }


@media (min-width: 480px) {
  .cover-title {
    letter-spacing: .5rem;
    font-size: 3rem;
  }
}

  
  .container {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .dark-bg {
    background: rgb(129, 129, 129);
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
  }
  
  .light-bg {
    background: rgb(243, 243, 243);
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .section-title {
    text-align: center;
    text-transform: uppercase;
  }
  
  .button {
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-transform: uppercase;
    transition: all 0.3s;
    text-decoration: none;
    display: inline-block;
  }
  
  .button.outline {
    background: unset;
    color: green;
    border: 1px solid green;
  }
  
  .button:hover {
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .button.outline:hover {
    background: green;
    color: white;
    box-shadow: none;
  }
  
  div.hero-box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 500px;
    display: grid;
    place-items: center;
    padding: 50px;
    color: white;
    text-align: center;
  }
  
  div.hero-box .button {
    font-size: 18px;
    margin-top: 18px;
  }
  
  div.hero-box .content {
    max-width: 450px;
  }
  
  .content {
    padding: 50px 15px;
  }
  
  .content .content-title {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
  }
  
  div.carousel {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  div.carousel-cell {
    width: 75%;
    height: 500px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  div.cards {
    display: flex;
    justify-content: space-between;
  }
  
  div.card {
    width: 30%;
    background: rgb(240, 240, 240);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s;
  }
  
  div.card:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  div.card .content p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  div.card img {
    min-height: 30%;
    width: 100%;
    object-fit: cover;
  }
  
  div.card .button {
    font-size: 18px;
  }
  
  div.image-card {
    width: 24%;
    height: 250px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s;
  }
  
  div.image-card .button {
    margin-top: 50px;
    opacity: 0;
    transition: all 0.3s;
    color: white;
    border-color: white;
  }
  
  div.image-card .button:hover {
    color: green;
    border-color: white;
    background: white;
  }
  
  div.image-card:hover .button {
    opacity: 1;
  }
  
  div.image-card .content-title {
    font-size: 20px;
    color: white;
  }
  
  .content-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .content-section .content {
    padding: 15px;
  }
  
  .content-section .content,
  .content-section .images {
    width: 49%;
  }
  
  .content-section .images img {
    width: 49%;
    min-width: 100px;
  }
  
  .content-section-2 {
    align-items: flex-start;
  }
  
  .content-section-2 .content {
    padding-top: 0;
  }
  
  .content-section-2 .images {
    display: flex;
    flex-flow: row wrap;
  }
  
  .content-section-2 .images img {
    height: 120px;
    width: 50%;
    min-width: unset;
    object-fit: cover;
  }
  
  .content-section-2 .images img:first-of-type {
    width: 100%;
    height: 250px;
  }
  
  .content-section-3,
  .content-section-4 {
    justify-content: center;
    text-align: center;
  }
  
  .content-section-3 .content,
  .content-section-4 .content {
    min-width: 450px;
  }
  
  .content-section-3 .content ol,
  .content-section-4 .content ol,
  .content-section-5 .content ol {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-left: 0;
  }
  
  .carousel.gallery-slider .carousel-cell {
    height: 150px;
    width: 33%;
    border-radius: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .carousel.gallery-slider .carousel-cell img {
    height: 100%;
    object-fit: cover;
  }
  
  .content-section-5 .object-wrapper {
    width: 49%;
  }

  .light-bgo{
    background-color: #f1dabf;
  }
  .row{
    padding-top: 15vh;
  }
  .container-wrapper{
   padding-top: 10rem;
  }


